*{
    margin:0px;
    font-family: "Space Grotesk","serif";
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap:40px;
}
h2{
    font-size: 2em;
    font-weight:900;
    background-color: black;
    color:white;
}
.mode{
    display: flex;
    height: 90px;
    font-size: 2.5em;
    font-weight: 900;
    translate: 0px 30px;
}
.triple,.quadruple{
    display: flex;
    align-items: center;
    padding:20px;
}
.triple:hover,.quadruple:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.line{
    width:5px;
    background-color: black;
    height: 100%;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
    background-color: black;
}
.container > div{
    position: relative;
    width:70px;
    height:70px;
    background-color: white;
}
.container > div:hover::after{
    content: "";
    position: absolute;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}
.box1:hover::after{
    top: 1px;
    left: 1px;
}
.box2:hover::after{
    top: 1px;
}
.box3:hover::after{
    top: 1px;
}
.box4:hover::after{
    top: 1px;
    right: 1px;
}
.box5:hover::after{
    left: 1px;
}
.box8:hover::after{
    right: 1px;
}
.box9:hover::after{
    left: 1px;
}
.box12:hover::after{
    right: 1px;
}
.box13:hover::after{
    bottom: 1px;
    left: 1px;
}
.box14:hover::after{
    bottom: 1px;
}
.box15:hover::after{
    bottom: 1px;
}
.box16:hover::after{
    bottom: 1px;
    right: 1px;
}
.cross,.circle,.draw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cross .cross-img{
    background: url(../assets/cross.png) no-repeat center/100%;
    width: 80%;
    height: 80%;
}
.circle .circle-img{
    background: url(../assets/circle.png) no-repeat center/100%;
    width: 90%;
    height: 90%;
}
.shake .cross-img{
    animation:shake-cross 40ms linear 0s 6 normal none running;
}
.shake .circle-img{
    animation:shake-circle 240ms linear 0s 1 normal none running;
}

@keyframes shake-cross{
    from{
        rotate:-5deg;
    }
    to{
        rotate:5deg;
    }
}

@keyframes shake-circle{
    from{
        transform:rotateY(0deg);
    }
    to{
        transform:rotateY(180deg);
    }
}

@media screen and (max-width:500px) {
    .mode{
        font-size:2em;
        height:80px;
    }
}